{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Camera WebApp for PaperIDE" />
  <meta charset="utf-8">
  <title>Camera for PaperIDE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="{% static 'camera.css' %}">
  <script src="{% static 'camera.js' %}"></script>
</head>

<body>
    </div>
    <div class="contentarea">
      <div>
        <h1>PaperIDE</h1>
      </div>
   
        <p>
          The IDE that combines tried and true methods with modern technology.
        </p>
        <button id="compile">COMPILE</button>
          <video id="video">Video stream not available.</video>
        <canvas id="canvas"> </canvas>
    </div>
<script>
</script>

</body>
</html>
