{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Camera WebApp for PaperIDE" />
  <meta charset="utf-8">
  <title>Camera for PaperIDE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="{% static 'camera.css' %}">
  <script src="{% static 'camera.js' %}"></script>
</head>

<body>
    </div>
    <div class="contentarea">
      <h1>PaperIDE</h1>
        <p>
          The IDE that combines tried and true methods with modern technology.
        </p>
        <video id="video">Video stream not available.</video>
        <br>
        <button id="compile">>_COMPILE</button>
    </div>
    <p id = "Attribution"></p>><a href="https://www.freepik.com/free-vector/blank-white-notepaper-design_16397306.htm#query=yellow%20lined%20paper&position=5&from_view=keyword&track=ais&uuid=d23c5430-9dd9-45a6-ae9b-75234a54b8d1">Image by rawpixel.com</a> on Freepik</p>

</body>
</html>
